New Block User.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Block-EntraIDUser-Incident",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftsentinelConnectionName":  "[concat('Microsoftsentinel-', parameters('PlaybookName'))]",
        "Azuread-1ConnectionName":  "[concat('Azuread-1-', parameters('PlaybookName'))]",
        "Office365-1ConnectionName":  "[concat('Office365-1-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Entities_-_Get_Accounts":  {
                            "runAfter":  {
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path":  "/entities/account"
                            }
                        },
                        "For_each":  {
                            "foreach":  "@body('Entities_-_Get_Accounts')?['Accounts']",
                            "actions":  {
                                "Condition":  {
                                    "actions":  {
                                        "Condition_-_if_user_have_manager":  {
                                            "actions":  {
                                                "Add_comment_to_incident_-_with_manager_-_no_admin":  {
                                                    "runAfter":  {
                                                        "Get_user_-_details":  [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type":  "ApiConnection",
                                                    "inputs":  {
                                                        "host":  {
                                                            "connection":  {
                                                                "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method":  "post",
                                                        "body":  {
                                                            "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                            "message":  "\u003cp\u003eUser @{items('For_each')?['Name']} (UPN - @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}) was disabled in AAD via playbook Block-AADUser. Manager (@{body('Parse_JSON_-_get_user_manager')?['userPrincipalName']}) is notified.\u003c/p\u003e"
                                                        },
                                                        "path":  "/Incidents/Comment"
                                                    }
                                                },
                                                "Get_user_-_details":  {
                                                    "type":  "ApiConnection",
                                                    "inputs":  {
                                                        "host":  {
                                                            "connection":  {
                                                                "name":  "@parameters('$connections')['azuread-1']['connectionId']"
                                                            }
                                                        },
                                                        "method":  "get",
                                                        "path":  "/v1.0/users/@{encodeURIComponent(concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix']))}"
                                                    }
                                                },
                                                "Send_an_email_-_to_manager_-_no_admin":  {
                                                    "runAfter":  {
                                                        "Add_comment_to_incident_-_with_manager_-_no_admin":  [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type":  "ApiConnection",
                                                    "inputs":  {
                                                        "host":  {
                                                            "connection":  {
                                                                "name":  "@parameters('$connections')['office365-1']['connectionId']"
                                                            }
                                                        },
                                                        "method":  "post",
                                                        "body":  {
                                                            "To":  "@{body('Parse_JSON_-_get_user_manager')?['userPrincipalName']}; support@valto.co.uk",
                                                            "Subject":  "@{items('For_each')?['Name']}  has been disabled in Azure AD due to the security risk!",
                                                            "Body":  "\u003cp\u003eSecurity notification! This is automated email sent by Microsoft Sentinel Automation!\u003cbr\u003e\n\u003cbr\u003e\nYour direct report @{items('For_each')?['Name']} has been disabled in Azure AD due to the security incident. Can you please notify the user and work with him to reach\u0026nbsp;our support.\u003cbr\u003e\n\u003cbr\u003e\nDirect report details:\u003cbr\u003e\nFirst name: @{body('Get_user_-_details')?['displayName']}\u003cbr\u003e\nSurname: @{body('Get_user_-_details')?['surname']}\u003cbr\u003e\nJob title: @{body('Get_user_-_details')?['jobTitle']}\u003cbr\u003e\nOffice location: @{body('Get_user_-_details')?['officeLocation']}\u003cbr\u003e\nBusiness phone: @{body('Get_user_-_details')?['businessPhones']}\u003cbr\u003e\nMobile phone: @{body('Get_user_-_details')?['mobilePhone']}\u003cbr\u003e\nMail: @{body('Get_user_-_details')?['mail']}\u003cbr\u003e\n\u003cbr\u003e\nThank you!\u003c/p\u003e",
                                                            "Importance":  "High"
                                                        },
                                                        "path":  "/v2/Mail"
                                                    }
                                                }
                                            },
                                            "runAfter":  {
                                                "Parse_JSON_-_get_user_manager":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else":  {
                                                "actions":  {
                                                    "Add_comment_to_incident_-_no_manager_-_no_admin":  {
                                                        "type":  "ApiConnection",
                                                        "inputs":  {
                                                            "host":  {
                                                                "connection":  {
                                                                    "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                                }
                                                            },
                                                            "method":  "post",
                                                            "body":  {
                                                                "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                                "message":  "\u003cp\u003eUser @{items('For_each')?['Name']} (UPN - @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}) was disabled in AAD via playbook Block-AADUser. Manager has not been notified, since it is not found for this user!\u003c/p\u003e"
                                                            },
                                                            "path":  "/Incidents/Comment"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression":  {
                                                "and":  [
                                                    {
                                                        "not":  {
                                                            "equals":  [
                                                                "@body('Parse_JSON_-_get_user_manager')?['userPrincipalName']",
                                                                "@null"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type":  "If"
                                        },
                                        "HTTP_-_get_user_manager":  {
                                            "type":  "Http",
                                            "inputs":  {
                                                "uri":  "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}/manager",
                                                "method":  "GET",
                                                "authentication":  {
                                                    "audience":  "https://graph.microsoft.com/",
                                                    "type":  "ManagedServiceIdentity"
                                                }
                                            }
                                        },
                                        "Parse_JSON_-_get_user_manager":  {
                                            "runAfter":  {
                                                "HTTP_-_get_user_manager":  [
                                                    "Succeeded",
                                                    "Failed"
                                                ]
                                            },
                                            "type":  "ParseJson",
                                            "inputs":  {
                                                "content":  "@body('HTTP_-_get_user_manager')",
                                                "schema":  {
                                                    "properties":  {
                                                        "userPrincipalName":  {
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                        "Update_user_-_disable_user":  [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "else":  {
                                        "actions":  {
                                            "Add_comment_to_incident_-_error_details":  {
                                                "type":  "ApiConnection",
                                                "inputs":  {
                                                    "host":  {
                                                        "connection":  {
                                                            "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method":  "post",
                                                    "body":  {
                                                        "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                        "message":  "\u003cp\u003eBlock-AADUser playbook could not disable user @{items('For_each')?['Name']}.\u003cbr\u003e\nError message: @{body('Update_user_-_disable_user')['error']['message']}\u003cbr\u003e\nNote: If user is admin, this playbook don't have privilages to block admin users!\u003c/p\u003e"
                                                    },
                                                    "path":  "/Incidents/Comment"
                                                }
                                            }
                                        }
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "equals":  [
                                                    "@body('Update_user_-_disable_user')",
                                                    "@null"
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                },
                                "Update_user_-_disable_user":  {
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['azuread-1']['connectionId']"
                                            }
                                        },
                                        "method":  "patch",
                                        "body":  {
                                            "accountEnabled":  false
                                        },
                                        "path":  "/v1.0/users/@{encodeURIComponent(concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix']))}"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Entities_-_Get_Accounts":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        }
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "microsoftsentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftsentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftsentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Microsoftsentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuread-1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Azuread-1ConnectionName'))]",
                                "connectionName":  "[variables('Azuread-1ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuread-1')]"
                            },
                            "office365-1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365-1ConnectionName'))]",
                                "connectionName":  "[variables('Office365-1ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365-1')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "LogicAppsCategory":  "security",
                "hidden-SentinelWorkspaceId":  "/subscriptions/b727f5d2-8b9d-4995-9451-32175981ce8d/resourceGroups/Sentinel/providers/microsoft.OperationalInsights/Workspaces/sentinel",
                "hidden-SentinelTemplateName":  "Block-EntraIDUser-Incident",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftsentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Azuread-1ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365-1ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftsentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftsentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Microsoftsentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Azuread-1ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Azuread-1ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuread-1')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365-1ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365-1ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365-1')]"
                }
            }
        }
    ]
}
